<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Create a Post</h1>
	<form action="/createpost" method="post">
		<input type="text" name = "userName" placeholder="User Name"> 
		<br>
		<input type="text" name = "postTitle" placeholder="Post Title">
		<br>
		<input type="text" name = "postContent" placeholder="Enter Content Here">
		<br>
	    <input type="submit" value="Add Post">
	</form> 
    <li><a href="/blog">Back to Home</a></li>
</body>
</html>